/* Le BODY */

body {
    display: grid;
    background-color: black;
    grid-template-columns: auto 1fr auto; /* Deux colonnes : sidebar et contenu principal */
    grid-template-rows: auto 1fr auto; /* Définit trois rangées : en-tête, contenu principal, pied de page */
    min-height: 100vh; /* Assure une hauteur minimale de l'écran */
}

#myHeader {
  background-color: #000000; /* Couleur de fond pour le contenu principal */
  padding: 20px; /* Espacement intérieur pour le contenu principal */
  height: 47.5px;
  grid-column: 2; /* Place le header dans la deuxième colonne */
}
#myMain {
  background-color: #1E1E1E; /* Couleur de fond pour le contenu principal */
  padding: 20px; /* Espacement intérieur pour le contenu principal */
  grid-column: 2; 
  grid-row: 2 ; /* Étend le contenu principal sur une rangée */
  margin: 10%;
}
#myFooter {
  background-color: #02C656; 
  padding: 20px; /* Espacement intérieur pour l'en-tête et le pied de page */
  color: white; /* Couleur du texte pour l'en-tête et le pied de page */
  grid-column: 2; 
}
  
/* home-navigation-bar */
#sidebar {
    /* border: 1px dotted black; */
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    background-color: #1E1E1E;
    padding: 10px;   
    grid-row: 1 / span 3; /* Place la sidebar dans les rangées 3 rangées */
}
}

/* postion du logo + taille */
#monLogo{
    /* border: 10px dotted red; */
    width: 169px;
    height: 169px;
    /* alignet mon logo */
    margin-left: 20%;
    margin-right: 20%;
    }   

/* position de Menu + Home avec SVG + barre de séparation */
h2 { /* pos menu + color + font*/
  color: #807C7C;
  font-family: 'Inter';
  font-style:normal;
  position: relative;
  left: 10%;
  margin-bottom: 5%;
}
h3{/* pos text home + color + font*/
  color: #07CA5B;
  font-family: 'Inter';
  font-style: inherit;
}
#textLogOut{ /* pos text logout + color + font*/
  color: #FF7E06;
  font-family: 'Inter';
  font-style:inherit;
  font-size: 1.15em;
  font-weight:650;
}
h4 { /* text blanc color + font */
  color: white;
  font-family: 'Inter';
  font-style: inherit;
}
/* tout mettre sur la même ligne 
   logoHomeContainer + logoAddContainer + logoDownloadContainer*/
#logoHomeContainer { 
  display: flex;
  align-items: center;
}
#logoAddContainer{ 
  display: flex;
  align-items: center;
}
#logoDownloadContainer{ 
  display: flex;
  align-items: center;
}
#logoLogOutContainer{
  margin-top: 10%; 
  display: flex;
  align-items: center;
}
/* pos ligne de séparation +color + size */
div#separationLine1{
  border-bottom: 2px solid white;
  width: 85%;
  margin-top: 5%;
  margin-left: 5%;
}
div#espaceDeSeparation{
  border-bottom: 0px solid white;
  width: 85%;
  margin-left: 5%;
  margin-top: 20%;
}
/* pos° des logo*/
#logoHome {
  margin-left: 5%; 
  margin-right: 5%;
}
#logoAdd{
  margin-left: 5%; 
  margin-right: 5%;
}
#logoDownload{
  margin-left: 5%; 
  margin-right: 5%;
}
#logoLogOut{
  margin-left: 5%; 
  margin-right: 5%;
}
/* pos° du pti carre que je voulais en ptite barre */
#miniLine {
  margin-left: 55%;
}