.item1 { grid-area: header; }
.item2 { grid-area: sidebar; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'sidebar header header header header header'
      'sidebar main main main main main'
      'sidebar footer footer footer footer footer';
    gap: 20px;
    background-color: black;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color:#1E1E1E;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  #monLogo{
    /* border: 10px dotted red; */
    width: 169px;
    height: 169px;
    /* alignet mon logo */
    margin-left: 25%;
    margin-right: 25%;
    }  